.content {
  width: min(900px, 100%);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: min(240px, 100%);
  border: 2px solid var(--pop);
  margin: 20px 20px 40px 20px;
  border-radius: var(--slight-border-radius);
}

.portrait img {
  position: relative;
  top: 20px;
  left: 20px;
  box-shadow: var(--box-shadow-main);
  border-radius: var(--slight-border-radius);
}

.content p {
  padding: 20px;
  flex: 1 1 360px;
  font-size: 1.1rem;
  font-weight: 500;
}
