.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  box-shadow: var(--box-shadow-main);
  transition: 0.6s;
  background-color: var(--bg-alt);
}

.icon {
  color: var(--color-alt);
  font-size: 1.4rem;
  transition: 0.6s;
}

/* HOVER STYLES */
@media (hover: hover) {
  .button:hover,
  .button:focus-within {
    background-color: #303134;
    box-shadow: var(--box-shadow-alt);
  }

  .button:hover .icon.dark,
  .button:focus-within .icon.dark {
    color: #f6e178;
  }

  .button:hover .icon.light,
  .button:focus-within .icon.light {
    color: #f5be32;
  }
}

/* SCREEN SIZES */
@media (max-width: 640px) {
  .button {
    position: absolute;
    bottom: 24px;
    right: 12px;
    background-color: #303134;
    box-shadow: none;
  }

  .button .dark {
    color: #f6e178;
  }

  .button .light {
    color: #f5be32;
  }
}
