.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: var(--box-shadow-main);
  background-color: var(--button-bg-alt);
  transition: 0.3s;
}

.icon {
  color: var(--color-alt);
  font-size: 1.4rem;
}

/* HOVER STYLES */
@media (hover: hover) {
  .button:hover {
    background-color: #303134;
    box-shadow: var(--box-shadow-alt);
  }

  .button:hover .icon.dark {
    color: #f6e178;
    transition: color 0.3s linear 0.2s;
  }

  .button:hover .icon.light {
    color: #f5be32;
    transition: color 0.3s linear 0.2s;
  }
}

/* SCREEN SIZES */
@media (max-width: 640px) {
  .button {
    position: absolute;
    bottom: 24px;
    right: 0;
    margin-right: 16px;
    background-color: #303134;
    box-shadow: none;
  }

  .button .dark {
    color: #f6e178;
  }

  .button .light {
    color: #f5be32;
  }
}
