*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  transition: 0.35s;
  background-color: var(--bg-main);
  color: var(--color-main);
  --slight-border-radius: 4px;
  --box-shadow-alt: 0px 5px 5px -3px #00000033, 0px 8px 10px 1px #00000024,
    0px 3px 14px 2px #0000001f;
}

.light {
  --bg-main: #fafafa;
  --bg-alt: #ffffff;
  --color-main: #202124;
  --color-alt: #5f6368;
  --pop: #f1502f;
  --border-color: #dadce0;
  --box-shadow-main: 0 1px 2px 0 #3c40434d, 0 2px 6px 2px #3c404326;
  --button-hover-bg: #575a621d;
  --mobile-menu-bg: #181818b3;
}

.dark {
  --bg-main: #202124;
  --bg-alt: #303134;
  --color-main: #fafafa;
  --color-alt: #9aa0a6;
  --pop: #f1502f;
  --border-color: #5f6368;
  --box-shadow-main: none;
  --button-hover-bg: #bac1d740;
  --mobile-menu-bg: #4c4c4cb3;
}

p {
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
}

/* disallow svg nested in button to become target */
button svg {
  pointer-events: none;
}

button:disabled {
  cursor: unset;
}

button:focus-within {
  outline-offset: 4px;
}

main > section {
  padding-top: 10px;
  margin-bottom: 100px;
}

.section_heading {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 40px;
}
